name: CI

on:
  - push
  - pull_request

jobs:
  host:
    name: >-
      ${{ matrix.os }} ${{ matrix.ruby }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-10.15
          - macos-11.0
          - ubuntu-latest
          - windows-latest
        ruby:
          - 2.5
          - 2.6
          - 2.7
          - head
        include:
          - { os: windows-latest , ruby: mingw }
          - { os: windows-latest , ruby: mswin }
        exclude:
          - { os: windows-latest , ruby: head }

    steps:
      - uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - run: bundle install

      - run: rake compile

      - run: rake build

      - run: gem install pkg/*.gem

      - run: rake test
        env:
          RUBYOPT: --disable=gems

      - name: Run test against installed gem
        # We can't use Fiddle gem with RubyInstaller because
        # RubyInstaller requires Fiddle before rubygems is loaded:
        # https://github.com/oneclick/rubyinstaller2/blob/master/lib/ruby_installer/build/dll_directory.rb#L1
        if: >-
          matrix.os != 'windows' ||
          (matrix.os == 'windows' && matrix.ruby == 'mswin')
        run: |
          ruby -run -e cp -- -pr test/ tmp/
          cd tmp
          ruby test/run.rb

  docker:
    name: >-
      ${{ matrix.service }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        service:
          - fedora-33

    steps:
      - uses: actions/checkout@v2

      - run: docker-compose build ${{ matrix.service }}

      - run: docker-compose run --rm ${{ matrix.service }}
